<fieldset>
<%= form_for @movie do |f| %>
  <%= render 'shared/errors', object: @movie %>
  <%= f.label :title %>
  <%= f.text_field :title, :size => 40, autofocus: true %><br />


  <%= f.label :total_gross %>
  <%= f.number_field :total_gross %>
  <br />

  <%= f.label :rating %>
  <%= f.select :rating, Movie::RATINGS, prompt: "Pick one" %><br />
  <br />

  <%= f.label :released_on %>
  <%= f.date_select :released_on %> <br />
  <br />

  <%= f.label :description %>
  <%= f.text_area :description, cols: 75, rows: 10 %><br />
  <br />

  <%= f.label :cast %>
  <%= f.text_field :cast %>
  <br />

  <%= f.label :director %>
  <%= f.text_field :director %>
  <br />

  <%= f.label :duration %>
  <%= f.text_field :duration, size: 10 %>

  <br />
    <%= f.label :image_file_name %>
    <%= f.text_field :image_file_name %>
  <br />
  <div>
    <%= f.submit %>
    <br />
    <%= link_to "Cancel", movies_path %>
  </div>
<% end %>
</fieldset>
